body,
html {
  margin: 0px;
  padding: 0px;
}

#root {
  background-color: rgb(255, 255, 255);
}

.header-container {
  /* border-bottom: 1px solid black;
  margin: 0px 80px 0px 30px; */
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container > img {
  width: 100px;
  /* background-color: rgb(29, 30, 31); */
  /* border: 1px solid black; */
  border-radius: 50px;
  /* background-blend-mode: multiply; */
  margin: 10px 0px 0px 40px;
}
.nav-container {
  margin-right: 80px;
  padding: 3px;
}
.nav-container > ul {
  display: flex;
}
.nav-container > ul > li {
  list-style-type: none;
  font-size: 20px;
  margin: 15px;
  /* padding: 5px; */
}
.login-Btn {
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
}

.body-container {
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: hidden; */
  /* border: 2px solid black; */
}

.filter-container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  margin: 15px 90px 0 55px;
  padding: 5px;
}

.topRate-Btn {
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  /* color: white; */
  /* background-color: #c99c9c; */
}

.search-bar {
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 600px;
  padding: 5px;
  cursor: pointer;
}
.search-btn {
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
}
.res-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px 5px 0px 50px;
}

.resCard-container {
  width: 200px;
  /* height: 330px; */
  margin: 5px;
  padding: 5px;
  background-color: whitesmoke;
}

.resCard-container:hover {
  cursor: pointer;
  background-color: rgb(185, 202, 202);
  border: 1px solid rgb(44, 43, 43);
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
}

.image-container > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  /* padding: 5px; */
}

.desc-container > h3 {
  margin: 3px;
}
.desc-container > h4 {
  /* font-size: 14px; */
  font-weight: 400;
  word-spacing: 2px;
  margin: 3px;
}
#rate {
  font-weight: bold;
}

.top-rateContainer {
  margin: 15px 80% 15px 55px;
  height: 25px;
  width: 200px;
  padding: 5px;
  /* border: 2px solid black; */
  background-color: #f0f0f0;
  border-radius: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 5px 0px 50px;
}

.shimmer-card {
  width: 200;
  height: 300;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  background-color: #f0f0f0;
  /* border: 2px solid black; */
}
